@media all and (min-width: 1024px) and (max-width: 1280px) {

  .text{
  width:90%;
}
.top-nav{
  font-size:1.2em;
}
.hugybugypoza{
  display:none;
}
.iraphahellpoza{
  display:none;
}
.mariuspoza{
  display:none;
}
.isacpoza{
  display:none;
}
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .title{
    font-size:3em;
  }
  .text{
    width:90%;
  }
  .top-nav{
    display:none;
  }
  .hugybugypoza{
    display:none;
  }
  .iraphahellpoza{
    display:none;
  }
  .mariuspoza{
    display:none;
  }
  .isacpoza{
    display:none;
  }
  .irapha-image{
    object-fit: contain;
  }
}
@media all and (min-width: 480px) and (max-width: 768px) {
  .top-nav{
    display:none;
  }
  .text{
    width:90%;
  }
  .irapha-image{
    object-fit: contain;
  }
  .title{
    font-size:2.5em;
  }
  .hugybugypoza{
    display:none;
  }
  .iraphahellpoza{
    display:none;
  }
  .mariuspoza{
    display:none;
  }
  .isacpoza{
    display:none;
  }
  .title-of-game{
    font-size:2em;
  }
  .background{
    height: 60vh;
  }
  
}
@media all and (max-width: 480px) {
  .top-nav{
    display:none;
  }
  .title{
    font-size:2em;
  }
  .waviy {
    font-size:2.5em;
  }
  .hugybugypoza{
    display:none;
  }
  .iraphahellpoza{
    display:none;
  }
  .mariuspoza{
    display:none;
  }
  .isacpoza{
    display:none;
  }
  .title-of-game{
    font-size:2em;
  }
  .text{
    width:90%;
  }
  .background{
    height: 90vh;
  }
  .irapha-image{
    display:none;
  }
  .copyright{
    text-align: center;
  }
  .presentation h2{
    text-align: center;
  }
}
@media all and (max-width: 350px) {
  .hugybugypoza{
    display:none;
  }
  .iraphahellpoza{
    display:none;
  }
  .mariuspoza{
    display:none;
  }
  .isacpoza{
    display:none;
  }
  .title{
    font-size:0.8em;
  }
  .features-list{
    font-size:1.4em;
  }
  .title-of-game{
    font-size:0.9em;
  }
  .presentation h2{
    font-size:1em;
  }
  .irapha-image{
    display:none;
  }
  .iraphahell-about{
    display:none;
  }
  .developer-info{
    margin:0;
  }
  .about-developer-desc{
    margin:0;
  }
  .background{
    height: 180vh;
  }
  .text{
    display:none;
  }
}